.button_enabled, .button_disabled {
    background-size: cover;        
    float: left;
    height: 100px;
    width: 100px;
    margin: 0 15px 0 15px;
    position: relative;        
}

.button_disabled {
    opacity: 0.3;
}

	.button_enabled:after{
		color:#e9e6e4;
		content: "";
		display: block;
		font-size: 30px;
		height: 30px;
		text-decoration: none;
		text-shadow: 0 -1px 1px #bdb5b4, 1px 1px 1px white;
		position: absolute;
		width: 30px;
	}

    .button_enabled:hover{
		color:#0088cc;
	}

    .button_enabled:active{
		opacity: 0.85;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.4), inset 0 -1px 1px 1px rgba(204,198,197,.5);
	}

	.button_enabled:active:after{
		color:#dbd2d2;
		text-shadow: 0 -1px 1px #bdb5b4, 0 1px 1px white;
	}

@media screen and (max-width: 720px) {
    .button_enabled, .button_disabled {
        height: 75px;
        width: 75px;      
        margin: 0;      
    }

    .button_enabled:after{
		height: 20px;
		width: 20px;
	}
}